<p appHighlight [defaultColor]="'green'" [highlightColor]="'blue'">here we go: </p>
<div *ngIf="isLoggedIn">Hello Users: :)</div>
<div *ngIf="!isLoggedIn">Please Log In First</div>
<ul  *ngFor="let player of players" appHighlight>
  <li>Number: {{player.id}}</li>
  <li>FirstName: {{player.firstName}}</li>
  <li>LastName: {{player.lastName}}</li>
  <li>Position: {{player.position}}</li>
</ul>


<div [ngSwitch]="useRole">
  <p *ngSwitchCase="'IsAdmin'">Hello is Admin PAge</p>
  <p *ngSwitchCase="'IsUser'">Hello is Home PAge</p>
  <p *ngSwitchCase="'IsGuest'">Hello is About PAge</p>
  <p *ngSwitchCase="'IsSecurity'">Hello is Page is  For All Users</p>
</div>
<div>
<p *appRepeat="3" appHighlight>here We go</p>
  <p appHighlight>{{today | date:"fullDate"}}</p>

  <br>
 </div>

<div>
  <input type="text" [(ngModel)]="filterItems">
<ul>
  <li *ngFor="let item of items | filterItems:filterItems">
    {{item}}
  </li>
</ul>
</div>

